# Data Science Tools and Ecosystem

## Author 
Matthew Millar

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>Popular Languages for Data Scientist</li>
<li>Popular Libraries used by Data Scientist</li>
<li>Basic Python Code Examples</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>Java</li>
<li>C++</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Hadoop</td>
  </tr>
  <tr>
    <td>NEO4J</td>
  </tr>
    <tr>
    <td>Tensorflow</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
result = 200/60
print(result)

3.3333333333333335